body{
     background-color: #1031871A;
     
}

th {
     background-color: #fa9806;
     color: rgb(196, 53, 6);
     font-weight: bold;
     padding: 10px;
     text-align: left;
     border-bottom: 1px solid #ccc;
   }

   tr:nth-child(even) {
     background-color: #f9f9f9;
   }

   table {
     border: 2px solid #ccc;
   }

   tr:hover {
     background-color: #eaf6ff;
   }

   