th {
  background-color: #fa9806;
  color: rgb(196, 53, 6);
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

table {
  border: 2px solid #ccc;
}

tr:hover {
  background-color: #eaf6ff;
}

/* FRONTEND STYLING
   SERVICES */

/* banner */
.banner {
  height: 60vh;
  opacity: 0.6;
  position: relative;
  border-radius: 8px;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  box-shadow: 5px 10px 10px rgb(128, 128, 128);
  border-color: white;
  justify-content: flex-start;
}

.explore {
  height: 6vh;
  margin-right: 10px;
  margin-left: 3px;
  min-height: 35px;
  min-width: none;
}

.graphics {
  height: 30vh;
}

a {
  text-decoration: none;
  margin-left: 30px;
}

.explore-items{
  justify-content:space-between
}

/* text on image */
.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Set the desired text color */
  padding: 20px;
}

.image-text h2 {
  margin: 0;
  font-size: 50px; /* Set the desired font size */
}

.image-text p {
  margin: 10px 0 0;
  font-size: 20px;
}

.start-now{
  background-color: rgb(207, 203, 203);
}

.start-now-btn{
  background-color:rgb(77, 77, 248); 
  color:white;
}

.btns{
  background-color:rgb(207, 203, 203);
}
